/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
	color: black;
	font-family: 'Source Code Pro', monospace;
	text-decoration: none;
}
a:link {
  text-decoration: none;
  color: black;
}
a:hover {
  color: brown;
}
header {
	color: green;
	border:0px orange solid;
	text-align: center;
	font-size: 3rem;
}
header > a {
	color: black;
	
}

nav {
	border:0px pink solid;
	text-align: center;
	padding: 3%;
	word-spacing: 1rem;
	
}
section {
	border:0px black solid;
	width: 50%;
}
section > img {
	border:3px black solid;
	width: 100%;
	float: left;
}
section {
	border:0px blue solid;
	width: 50%;
	float: left;
	padding: 5%;
	height: 500px;
}
footer {
	border:0px green solid;
	clear:both;
	margin: 0% 0% 15% 0;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 600px) {
  body {
    background: white;
	 
} 
}
@media screen and (max-width: 600px){
header > a {
	color: black;
	border:0px red solid;
	text-align: center;
	font-size: 3rem;
}
}
@media screen and (max-width: 600px){
nav{
	color: black;
	border:0px orange solid;
	text-align: center;
	width:100%;
	float:left;
	clear: both;
	padding: 5%;
	
}
}
@media screen and (max-width: 600px){
nav > a{
	color: black;
	border:0px red solid;
	text-align: center;
	width:100%;
	float:left;
	clear: both;
	padding: 5%;
	
}
}

@media screen and (max-width: 600px){
section > img {
	border:0px black solid;
	width: 100%;
	float: left;
	clear: both;
}
}
@media screen and (max-width: 600px){
section {
	border:0px blue solid;
	width: 100%;
	float: left;
	clear: both;
	margin: 5% 0% 0% 0%;
	height: auto;
}
}
@media screen and (max-width: 600px){
figure {
	text-align: center;
	border:0px blue solid;
	width: 100%;
	margin: 0% 0% 15% 0%;
}
}
@media screen and (max-width: 600px){
figcaption {
	border:0px blue solid;
	width: 100%;
	margin: 0% 0% 1% 0%;
}
}
@media screen and (max-width: 600px){
footer {
	border:0px green solid;
	width:100%;
	float: left;
	clear: both;
	margin: 5% 0% 30% 0;
	text-align: center;
}
}